{% extends "register/base.html" %}
{%block content%}

    {% for req in r_requests%}
        {%if req.owner == user%}
       
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                <a class="article-title" href ="{% url 'register-detail' req.id%}" style="color:#0000FF;">request id: {{req.id}}</a>
                <h1></h1>
                <a class="article-title" href ="{% url 'register-update' req.id%}" style="color:#0000FF;">update request id: {{req.id}}</a>
                
                <p class="article-content">request owner: {{req.owner}}</p>
                <p class="article-content">destination: {{req.destination}}</p>
                </div>
            </article>

        {%endif%}


    {% endfor %}
{% endblock content %}