{% extends "register/base_share.html" %}
{%load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Add sharer to ride request</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">submit</button>
          </div>
      </form>
    </div>
{% endblock content %}